# WordPress Configuration
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress_password
WORDPRESS_DB_NAME=wordpress
WORDPRESS_WP_HOME=https://localhost
WORDPRESS_WP_SITEURL=https://localhost
WP_ENV=development

# MySQL Configuration
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress_password

# phpMyAdmin Configuration
PMA_HOST=db
PMA_USER=wordpress
PMA_PASSWORD=wordpress_password

# Redis Configuration (keep password as secret)
REDIS_PASSWORD=redis_secure_password
REDIS_DATABASE=0
REDIS_MAXMEMORY=8gb
REDIS_MAXMEMORY_POLICY=allkeys-lru

# Ngrok Configuration
# NGROK_AUTH_TOKEN= # use your own token