wordpress/*
!wordpress/wp-content
wordpress/wp-content/*
!wordpress/wp-content/mu-plugins/
wordpress/wp-content/mu-plugins/*
!wordpress/wp-content/mu-plugins/wplokerbjm-bootstrap.php
!wordpress/wp-content/themes
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/wplokerbjm
**/.svelte-kit
**/.wrangler
**/build
**/dist
**/deploy-manual.sh
**/.playwright-mcp
**/mcp
**/vendor
**/node_modules
**/.env
**/cache
**/bun.lock
**/package-lock.json
**/composer.lock
**/stats.html
**/~partytown
**/*.log
source.zsh
mkcert
localhost.pem
localhost-key.pem
localhost.key
localhost.crt
worker-configuration.d.ts
**/*.d.ts
**/*.graphql
**/*.tsbuildinfo

# Scraping related
scrapper/**/downloads
scrapper/.venv
scrapper/__pycache__