wordpress/*
!wordpress/themes
wordpress/themes/*
!wordpress/themes/astra-child
.env
php.md
**/vendor
**/node_modules
**/bun.lock
**/package-lock.json
**/composer.lock
**/stats.html
convertToAvif.sh
source.zsh
mkcert
localhost.pem
localhost-key.pem