:443 {
  tls /var/www/certs/localhost.crt /var/www/certs/localhost.key
  root * /var/www/html
  php_fastcgi wordpress:9000
  file_server {
    precompressed
  }
  
  encode {
    zstd best
  }

  header {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  }

  log {
    output stdout
    format console
  }
}

:80 {
  redir https://{host}{uri} permanent
}