:443 {
  tls /var/www/certs/localhost.crt /var/www/certs/localhost.key
  root * /var/www/html
  php_fastcgi wordpress:9000

  # Rewrite /node_modules/* to the {your-theme} node_modules directory
  # Use this to serve local node_modules for development purposes
  # This assumes the node_modules directory is located at /var/www/html/wp-content/themes/{your-theme}/node_modules
  @node_modules_path path_regexp node_modules ^/node_modules/(.*)$
  rewrite @node_modules_path /wp-content/themes/astra-child/node_modules/{re.node_modules.1}

  file_server {
    precompressed
  }

  encode {
    zstd best
  }

  header {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  }

  log {
    output stdout
    format console
  }
}

:80 {
  redir https://{host}{uri} permanent
}