AddType text/css .css
AddType application/javascript .js
AddType application/x-brotli-js .br
AddType application/zstd .zst

<IfModule mod_rewrite.c>
  RewriteEngine On
  # ZSTD
  RewriteCond %{HTTP:Accept-Encoding} zstd
  RewriteCond %{REQUEST_FILENAME}.zst -f
  RewriteRule ^(.*)\.(css|js)$ $1.$2.zst [L]
  # BROTLI
  RewriteCond %{HTTP:Accept-Encoding} br
  RewriteCond %{REQUEST_FILENAME}.br -f
  RewriteRule ^(.*)\.(css|js)$ $1.$2.br [L]
</IfModule>

<IfModule mod_headers.c>

# Serve correct headers for Zstd
  <FilesMatch "\.js\.zst$">
    Header set Content-Encoding zstd
    Header set Content-Type application/javascript
    Header append Vary Accept-Encoding
    SetEnv no-gzip 1
    SetEnv no-brotli 1
  </FilesMatch>
  <FilesMatch "\.css\.zst$">
    Header set Content-Encoding zstd
    Header set Content-Type text/css
    Header append Vary Accept-Encoding
    SetEnv no-brotli 1
    SetEnv no-gzip 1
  </FilesMatch>

  # Serve correct headers for Brotli
  <FilesMatch "\.js\.br$">
    Header set Content-Encoding br
    Header set Content-Type application/javascript
    Header append Vary Accept-Encoding
    SetEnv no-gzip 1
  </FilesMatch>
  <FilesMatch "\.css\.br$">
    Header set Content-Encoding br
    Header set Content-Type text/css
    Header append Vary Accept-Encoding
    SetEnv no-gzip 1
  </FilesMatch>
</IfModule>

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|sql|conf)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

Options -Indexes